<a href="https://colab.research.google.com/github/trnq-eu/ml-zoomcamp-2024/blob/main/01_intro_to_machine_learning_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1- Intro to ML

## Homework 2024

https://github.com/DataTalksClub/machine-learning-zoomcamp/blob/master/cohorts/2024/01-intro/homework.md

### Q1. Pandas version

In [ ]:
import pandas as pd
pd.__version__

'2.1.4'

In [ ]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

--2024-09-17 03:33:50--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 298573 (292K) [text/plain]
Saving to: ‘laptops.csv’

laptops.csv         100%[===================>] 291.58K  --.-KB/s    in 0.04s

2024-09-17 03:33:50 (6.79 MB/s) - ‘laptops.csv’ saved [298573/298573]

In [ ]:
data_path = '/content/laptops.csv'
df = pd.read_csv(data_path)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

In [ ]:
df.columns = df.columns.str.lower().str.replace(' ','_')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   laptop        2160 non-null   object
 1   status        2160 non-null   object
 2   brand         2160 non-null   object
 3   model         2160 non-null   object
 4   cpu           2160 non-null   object
 5   ram           2160 non-null   int64
 6   storage       2160 non-null   int64
 7   storage_type  2118 non-null   object
 8   gpu           789 non-null    object
 9   screen        2156 non-null   float64
 10  touch         2160 non-null   object
 11  final_price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

### Q3. Laptop brands

How many laptop brands are presented in the dataset?

In [ ]:
df.brand.nunique()

27

### Q4. Missing values

How many columns in the dataset have missing values?

In [ ]:
df.isnull().sum()

laptop             0
status             0
brand              0
model              0
cpu                0
ram                0
storage            0
storage_type      42
gpu             1371
screen             4
touch              0
final_price        0
dtype: int64

### Q5. Maximum final price

What's the maximum final price of Dell notebooks in the dataset?

In [ ]:
df.brand.unique()

array(['Asus', 'Alurin', 'MSI', 'HP', 'Lenovo', 'Medion', 'Acer', 'Apple',
       'Razer', 'Gigabyte', 'Dell', 'LG', 'Samsung', 'PcCom', 'Microsoft',
       'Primux', 'Prixton', 'Dynabook Toshiba', 'Thomson', 'Denver',
       'Deep Gaming', 'Vant', 'Innjoo', 'Jetwing', 'Millenium', 'Realme',
       'Toshiba'], dtype=object)

In [ ]:
dell_df = df.loc[df['brand']=='Dell']
dell_df

,laptop,status,brand,model,cpu,ram,storage,storage_type,gpu,screen,touch,final_price
161,Dell Vostro 3510 Intel Core i3-1115G4/8 GB/256...,New,Dell,Vostro,Intel Core i3,8,256,SSD,NaN,15.6,No,599.00
271,Dell Vostro 3510 Intel Core i5-1135G7/8 GB/256...,New,Dell,Vostro,Intel Core i5,8,256,SSD,NaN,15.6,No,690.15
281,Dell Vostro 3520 Intel Core i7-1255U/16GB/512G...,New,Dell,Vostro,Intel Core i7,16,512,SSD,NaN,15.6,No,889.00
319,Dell Latitude 3520 Intel Core i5-1135G7/8GB/25...,New,Dell,Latitude,Intel Core i5,8,256,SSD,NaN,15.6,No,789.00
328,Dell Vostro 3510 Intel Core i5-1135G7/16 GB/51...,New,Dell,Vostro,Intel Core i5,16,512,SSD,NaN,15.6,No,869.00
...,...,...,...,...,...,...,...,...,...,...,...,...
1843,Dell Vostro 5301 Intel Core i5-1135G7/8GB/256G...,Refurbished,Dell,Vostro,Intel Core i5,8,256,SSD,NaN,13.3,No,420.74
1844,Dell Vostro 5301 Intel Core i5-1135G7/8GB/512G...,Refurbished,Dell,Vostro,Intel Core i5,8,512,SSD,NaN,13.3,No,511.59
1845,Dell Vostro 5502 Intel Core i5-1135G7/8GB/512G...,Refurbished,Dell,Vostro,Intel Core i5,8,512,SSD,NaN,15.6,No,549.93
1846,Dell XPS 13 9300 Intel Core i5-1035G1/8GB/512G...,Refurbished,Dell,XPS,Intel Core i5,8,512,SSD,NaN,13.4,No,699.00
1847,Dell XPS 7390 Intel Core i7-10510U/16GB/512GB ...,Refurbished,Dell,XPS,Intel Core i7,16,512,SSD,NaN,13.3,No,1086.88

In [ ]:
dell_df.final_price.max()

3936.0

### Q6. Median value of Screen

1. Find the median value of Screen column in the dataset.
2. Next, calculate the most frequent value of the same Screen column.
3. Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
4. Now, calculate the median value of Screen once again.

In [ ]:
df.screen.median()

15.6

In [ ]:
screen_mode = df.screen.mode()[0]

In [ ]:
df.screen = df.screen.fillna(screen_mode)

In [ ]:
df.isnull().sum()

laptop             0
status             0
brand              0
model              0
cpu                0
ram                0
storage            0
storage_type      42
gpu             1371
screen             0
touch              0
final_price        0
dtype: int64

In [ ]:
df.screen.median()

15.6

### Q7. Sum of weights

1. Select all the "Innjoo" laptops from the dataset.
2. Select only columns RAM, Storage, Screen.
3. Get the underlying NumPy array. Let's call it X.
4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
5. Compute the inverse of XTX.
6. Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
8. What's the sum of all the elements of the result?

In [ ]:
in_df = df[df['brand'] == 'Innjoo'][['ram', 'storage', 'screen']]
in_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 1478 to 1483
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ram      6 non-null      int64
 1   storage  6 non-null      int64
 2   screen   6 non-null      float64
dtypes: float64(1), int64(2)
memory usage: 192.0 bytes

In [ ]:
import numpy as np

X = in_df.values
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [ ]:
XTX = X.T.dot(X)
XTX

array([[2.52000e+02, 8.32000e+03, 5.59800e+02],
       [8.32000e+03, 3.68640e+05, 1.73952e+04],
       [5.59800e+02, 1.73952e+04, 1.28196e+03]])

In [ ]:
y = [1100, 1300, 800, 900, 1000, 1100]

In [ ]:
w = inv_XTX.dot(X.T).dot(y)

In [ ]:
sum(w)

91.2998806299555